# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.N8Engine Template Project.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\NateDawg\RiderProjects\N8Engine\N8Engine Template Project\.idea\.idea.N8Engine Template Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
